:root {
    --fg: hsl(210, 10%, 75%);
    --bg: hsl(210, 6%, 12%);
    --emphasis: hsl(210, 10%, 90%);
    --list-bullet: hsl(210, 40%, 65%);
    
    --headers: hsl(210, 15%, 85%);

    --sidebar-bg: hsl(210, 8%, 16%);
    --sidebar-border: hsl(210, 10%, 24%);
    --sidebar-active: #54abf8;
    
    --links: #54abf8;
    --links-hover: #8ecaff;

    --icons: rgba(255, 255, 255, 0.5);
    --icons-hover: rgba(255, 255, 255, 0.75);

    --quote-bg: none;
    --quote-border: hsl(210, 10%, 20%);

    --info-bg: rgba(56, 139, 253, 0.15);
    --info-border: rgba(56, 139, 253, 0.4);

    --warning-bg: rgba(253, 154, 56, 0.15);
    --warning-border: rgba(253, 151, 56, 0.4);

    --inline-code-color: #89b4fa;
    --code-font-size: 0.875em;

    --table-header-bg: hsl(210, 8%, 16%);
    --table-alternate-bg: hsl(210, 8%, 14%);
    --table-border: hsl(210, 8%, 28%);

    --code-fg: hsl(210, 10%, 65%);
    --code-bg: hsl(210, 10%, 16%);
    --code-border: hsl(210, 10%, 24%);

    --inline-code-fg: hsl(210, 10%, 80%);
    --inline-code-bg: hsl(210, 10%, 20%);
    --inline-code-border: hsl(210, 10%, 30%);
    --inline-code-font-size: 0.8em;
    --inline-code-padding: 0.15em 0.3em;
}

* {
    box-sizing: border-box;
}

h2, h3 {
    margin-top: 2em !important;
}

h4, h5, h6 {
    margin-top: 2em !important;
}

strong {
    color: var(--emphasis);
}

.content .header:link,
.content .header:visited {
    color: var(--headers);
}

.menu-title {
    color: var(--icons);
}

.menu-title:hover {
    color: var(--icons-hover);
}

.content ul,
.content p {
    line-height: 1.5;
}

.content img {
    margin: 1em 0;
}

li::marker {
    color: var(--list-bullet);
}

ul > li,
ol > li,
li > li {
    /* margin: 8px 0; */
    margin-top: 4px;
}


.content a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
}

.content a:hover {
    color: var(--links-hover);
}

#theme-list,
#theme-toggle {
    display: none !important;
}

blockquote { 
    border: 1px solid var(--quote-border);
    border-left: 0.5em solid var(--quote-border);
}

table {
    margin: 1em 0;
    /* font-size: 0.875em; */
}

table thead tr,
table thead tr th,
table td {
    border: 1px solid var(--table-border);
}

table td {
    padding: 8px 12px;
}

table tr th {
    font-size: 0.875em;
}

:not(pre) > code.hljs {
    color: var(--inline-code-fg);
    background: var(--inline-code-bg);
    /* border: 1px solid var(--inline-code-border); */
    font-size: var(--inline-code-font-size);
    padding: var(--inline-code-padding);
}

.hljs {
    display: block;
    overflow-x: auto;
    background: var(--code-bg);
    border: 1px solid var(--code-border);
    color: var(--code-fg);
}

kbd {
    /* margin: 0px 2px; */
    color: #fff;
    background:#555;
    border-top: 1px solid #888;
    box-shadow: 0px 2px 0px #333;
    padding: 3px 4px;
    font-size: 0.8em;
    text-transform: uppercase;
}

warning, 
info {
    display: block;
    border-radius: 4px;
    font-size: 0.875em;
    padding: 0.6em 1em;
    margin: 1em 0;
}

info {
    background-color: var(--info-bg);
    border: 1px solid var(--info-border);
}

warning {
    background-color: var(--warning-bg);
    border: 1px solid var(--warning-border);
}

.content h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid rgb(255, 255, 255, 0.15);
}

hr {
    border-color: rgb(255, 255, 255, 0.2);
}

.sidebar .sidebar-scrollbox {
    padding: 1em 2em;
    /* border-right: 1px solid var(--sidebar-border); */
}

.chapter li.part-title {
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.1); */
    margin-top: 1.5em;
}

.chapter .spacer {
    background: rgba(255, 255, 255, 0.1);
    height: 2px;
    margin: 1em 0;
}


.link-container {
    display: flex;
    flex-wrap: wrap;
}

.img-link {
    min-width: 128px;
    max-width: 45%;
    
    padding: 0px;
    margin: 8px;
   
    
    line-height: 0;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;
}

.img-link img {
    padding: 0px;
    margin: 0px;

    border-radius: 4px;
    opacity: 0.4;
}

.img-link img:hover {
    opacity: 0.6;
}

.img-link p {
    margin: 0;
    display: inline;
    position: absolute;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
}

.convention {
    display: block;
    font-size: 0.875em;
    font-family: var(--mono-font) !important;
    background: rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

.convention > span {
    display: inline;
    padding: 0 4px;
}

.naming {
    font-size: 0.875em;
    background: rgba(0, 0, 0, 0.2);
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: var(--mono-font) !important;
}